
  <div class="boxes">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="boxes_container d-flex flex-row align-items-start justify-content-between flex-wrap">
  
              <!-- Box -->
              <div class="box">
                <div class="background_image" style="background-image:url(/assets/img/box_1.jpg)"></div>
                <div class="box_content d-flex flex-row align-items-center justify-content-start">
                  <div class="box_left">
                    <div class="box_image">
                      <a href="category.html">
                        <div class="background_image" style="background-image:url(/assets/img/box_1_img.jpg)"></div>
                      </a>
                    </div>
                  </div>
                  <div class="box_right text-center">
                    <div class="box_title">Trendsetter Collection</div>
                  </div>
                </div>
              </div>
  
              <!-- Box -->
              <div class="box">
                <div class="background_image" style="background-image:url(/assets/img/box_2.jpg)"></div>
                <div class="box_content d-flex flex-row align-items-center justify-content-start">
                  <div class="box_left">
                    <div class="box_image">
                      <a href="category.html">
                        <div class="background_image" style="background-image:url(/assets/img/box_2_img.jpg)"></div>
                      </a>
                    </div>
                  </div>
                  <div class="box_right text-center">
                    <div class="box_title">Popular Choice</div>
                  </div>
                </div>
              </div>
  
              <!-- Box -->
              <div class="box">
                <div class="background_image" style="background-image:url(/assets/img/box_3.jpg)"></div>
                <div class="box_content d-flex flex-row align-items-center justify-content-start">
                  <div class="box_left">
                    <div class="box_image">
                      <a href="category.html">
                        <div class="background_image" style="background-image:url(/assets/img/box_3_img.jpg)"></div>
                      </a>
                    </div>
                  </div>
                  <div class="box_right text-center">
                    <div class="box_title">Popular Choice</div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Features -->