
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> --> -->
  <div class="products">
  <div class="container">
      <div class="row_products_row">
  <div class="container">
    <h4>Connexion</h4>
    <form>
      <table class="table table-hover">
        <!-- <tr>
          <div class="form-group">
            <td>
            <label for="nom">Nom</label></td>
            <td><input type="text" class="form-control" id="nom" placeholder="Nom..." min="3" required></td>
          </div>
        </tr> -->
          <!-- <tr>
          <div class="form-group">
            <td>
            <label for="prenom">Prénom</label></td>
            <td><input type="text" class="form-control" id="prenom" placeholder="Prenom..." min="3" required></td>
          </div>
        </tr> -->
         <tr>
          <div class="form-group">
            <td>
            <label for="email">Email</label></td>
            <td><input type="email" class="form-control" id="email" placeholder="Email..." required></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td>
            <label for="pwd">Mot de passe</label></td>
            <td><input type="password" class="form-control" id="pwd" placeholder="Mot de passe..." required></td>
          </div>
        </tr>
        <!-- <tr>
          <td>Sexe</td>
           <td>	
              <div class="radio">
              <label><input type="radio" name="optradio" checked>Homme</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">Femme</label>
            </div>
          </td>
        </tr> -->
        <!-- <tr>
          <td>Pays</td>
          <td>
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Tunisie</option>
                <option>Turquie</option>
                <option>Canada</option>
              </select>
            </div>
          </td>
        </tr> -->
         </table>

          <button type="submit" class="btn btn-primary"  style="width: 200px;">Valider</button>
  </form>
  </div>
  </div>
  </div>
</div>
