

/*********************************
4. Products
*********************************/

.products_iso
{
	width: 100%;
}
.section_title
{
	display: inline-block;
	text-align: center;
}
.section_title h2
{
	display: inline-block;
}
.section_title::after
{
	display: block;
	position: absolute;
	top: calc(100% + 13px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 60px;
	height: 5px;
	background: #fe4c50;
	content: '';
}

/*********************************
4.1 Product Sorting
*********************************/

.product_sorting_container_bottom
{
	margin-top: 24px;
}
.product_sorting_container_bottom .product_sorting
{
	float: right;
}
.product_sorting
{
	display: inline-block;
}
.product_sorting > li
{
	display: inline-block;
	position: relative;
	width: 185px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border: solid 1px #ecedee;
	padding-left: 20px;
	padding-right: 7px;
	margin-right: 16px;
}
.product_sorting_container_bottom .product_sorting > li
{
	width: 144px;
	margin-right: 0px;
	padding-right: 12px;
}
.product_sorting_container_bottom .product_sorting li span:nth-child(2)
{
	margin-left: 24px;
}
.product_sorting li i
{
	float: right;
	line-height: 40px;
	color: #51545f;
}
.product_sorting li ul
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.product_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.product_sorting li ul li
{
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.product_sorting li ul li span
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.product_sorting li ul li span:hover
{
	color: #b5aec4;
}
.product_sorting li ul li:last-child span
{
	border-bottom: none;
}
.product_sorting li span:nth-child(2)
{
	margin-left: 71px;
}
.pages
{
	display: inline-block;
	float: right;
}
.product_sorting_container_bottom .pages
{
	float: left;
}
.page_current
{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	text-align: center;
	border: solid 1px #ecedee;
	margin-right: 16px;
}
.product_sorting_container_bottom .pages .page_current
{
	background: #fe4c50;
	border: none;
}
.page_current span
{
	color: #51545f;
}
.product_sorting_container_bottom .pages .page_current span
{
	color: #FFFFFF;
}
.page_selection
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li
{
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.page_selection li a
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li a:hover
{
	color: #b5aec4;
}
.page_current:hover .page_selection
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.page_total
{
	display: inline-block;
	line-height: 40px;
	margin-right: 31px;
}
.page_total span
{
	margin-right: 14px;
}
.page_next
{
	display: inline-block;
	line-height: 40px;
	cursor: pointer;
}
.page_next:hover i
{
	color: #b5aec4;
}
.page_next i
{
	font-size: 18px;
	color: #51545f;
}
.showing_results
{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 34px;
}

/*********************************
5. Breadcrumbs
*********************************/

.breadcrumbs
{
	width: 100%;
	height: 60px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 58px;
}
.breadcrumbs ul li
{
	display: inline-block;
	margin-right: 17px;
}
.breadcrumbs ul li.active a
{
	color: #b9b4c7;
}
.breadcrumbs ul li i
{
	margin-right: 17px;
}
.breadcrumbs ul li a
{
	color: #51545f;
}

/*********************************
6. Sidebar
*********************************/

.product_section_container
{
	margin-top: 150px;
}
.product_section
{

}
.sidebar
{
	float: left;
	width: 200px;
	padding-right: 17px;
}
.sidebar_section
{
	padding-bottom: 35px;
	margin-bottom: 50px;
	border-bottom: solid 1px #ebebeb;
}
.sidebar_title h5
{
	font-size: 18px;
	margin-bottom: 21px;
}
.sidebar_categories li.active a
{
	color: #fe4c50;
}
.sidebar_categories li.active:hover a
{
	color: #fe4c50;
}
.sidebar_categories li a
{
	font-size: 14px;
	line-height: 40px;
	color: #51545f;
}
.sidebar_categories li a:hover
{
	color: #b5aec4;
}
.sidebar_categories li a span
{
	margin-right: 5px;
}
#slider-range
{
	margin-left: 7px !important;
}
#amount
{
	margin-top: 8px;
	color: #1e1e27 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
}
.filter_button
{
	width: 100%;
	height: 30px;
	background: #1e1e27;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.filter_button:hover
{
	background: #34343f;
}
.filter_button span
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	color: #FFFFFF;
}
.checkboxes li
{
	height: 40px;
	line-height: 40px;
}
.checkboxes li.active i
{
	color: #fe4c50;
	margin-right: 21px;
}
.checkboxes li.active i::after
{
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f00c';
	color: #FFFFFF;
}
.checkboxes
{
	height: 200px;
	overflow: hidden;
}
.checkboxes.active
{
	height: auto;
}
.checkboxes li i
{
	position: relative;
	color: #b3b7c8;
	cursor: pointer;
	margin-right: 22px;
}
.checkboxes li span
{
	font-family: 'Poppins', sans-serif;
	color: #51545f;
}
.show_more
{
	display: inline-block;
	cursor: pointer;
}
.show_more span
{
	height: 40px;
	line-height: 40px;
	color: #fe4c50;
}
.show_more span:first-child
{
	margin-right: 11px;
}

/*********************************
7. Main Content
*********************************/

.main_content
{
	float: left;
	width: calc(100% - 200px);
	padding-left: 34px;
}

.product-grid
{
	width: 100%;
	margin-top: 57px;
	display: flex;
	flex-wrap: wrap;
}
.product-item
{
	width: 25%;
	height: 380px;
	cursor: pointer;
}
.product-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
}
.product
{
	width: 100%;
	height: 340px;
	border-right: solid 1px #e9e9e9;
}
.product_image
{
	width: 100%;
}
.product_image img
{
	width: 100%;
}
.product_info
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.product_name
{
	margin-top: 27px;
}
.product_name a
{
	color: #1e1e27;
	line-height: 20px;
}
.product_name:hover a
{
	color: #b5aec4;
}
.discount .product_info .product_price
{
	font-size: 14px;
}
.product_price
{
	font-size: 16px;
	color: #fe4c50;
	font-weight: 600;
}
.product_price span
{
	font-size: 12px;
	margin-left: 10px;
	color: #b5aec4;
	text-decoration: line-through;
}
.product_bubble
{
	position: absolute;
	top: 15px;
	width: 50px;
	height: 22px;
	border-radius: 3px;
	text-transform: uppercase;
}
.product_bubble span
{
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.product_bubble_right::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 6px;
	right: auto;
	top: auto;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_red::after
{
	border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after
{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red
{
	background: #fe4c50;
}
.product_bubble_green
{
	background: #51a042;
}
.product_bubble_left
{
	left: 15px;
}
.product_bubble_right
{
	right: 15px;
}
.add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.add_to_cart_button a
{
	font-size: 12px;
	font-weight: 600;
}
.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}
.favorite
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #b9b4c7;
	width: 17px;
	height: 17px;
	visibility: hidden;
	opacity: 0;
}
.favorite_left
{
	left: 15px;
}
.favorite.active
{
	visibility: visible;
	opacity: 1;
}
.product-item:hover .favorite
{
	visibility: visible;
	opacity: 1;
}
.favorite.active::after
{
	font-family: 'FontAwesome';
	content:'\f004';
	color: #fe4c50;
}
.favorite::after
{
	font-family: 'FontAwesome';
	content:'\f08a';
}
.favorite:hover::after
{
	color: #fe4c50;
}

/*********************************
8. Benefit
*********************************/

.benefit
{
	margin-top: 74px;
}
.benefit_row
{
	padding-left: 15px;
	padding-right: 15px;
}
.benefit_col
{
	padding-left: 0px;
	padding-right: 0px;
}
.benefit_item
{
	height: 100px;
	background: #f3f3f3;
	border-right: solid 1px #FFFFFF;
	padding-left: 25px;
}
.benefit_col:last-child .benefit_item
{
	border-right: none;
}
.benefit_icon i
{
	font-size: 30px;
	color: #fe4c50;
}
.benefit_content
{
	padding-left: 22px;
}
.benefit_content h6
{
	text-transform: uppercase;
	line-height: 18px;
	font-weight: 500;
	margin-bottom: 0px;
}
.benefit_content p
{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0px;
	color: #51545f;
}

/*********************************
9. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #f2f2f2;
	margin-top: 81px;
}
.newsletter_text
{
	height: 120px;
}
.newsletter_text h4
{
	margin-bottom: 0px;
	line-height: 24px;
}
.newsletter_text p
{
	margin-bottom: 0px;
	line-height: 1.7;
	color: #51545f;
}
.newsletter_form
{
	height: 120px;
}
#newsletter_email
{
	width: 300px;
	height: 46px;
	background: #FFFFFF;
	border: none;
	padding-left: 20px;
}
#newsletter_email:focus
{
	border: solid 1px #7f7f7f !important;
	box-shadow: none !important;
}
:focus
{
	outline: none !important;
}
#newsletter_email::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email::-moz-placeholder /* Firefox 19+ */
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.newsletter_submit_btn
{
	width: 160px;
	height: 46px;
	border: none;
	background: #fe4c50;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:hover
{
	background: #FE7C7F;
}

/*********************************/
.bg-title-page {
	width: 100%;
	min-height: 239px;
	padding-left: 15px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
  }
  .p-t-50 {padding-top: 50px;}
  .p-b-40 {padding-bottom: 40px;}
  .flex-col-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.l-text2 {
	font-family: Montserrat-Bold;
	font-size: 50px;
	color: white;
	line-height: 1.2;
	text-transform: uppercase;
}
.t-center {text-align: center;}
.m-text13 {
	font-family: Montserrat-Regular;
	font-size: 18px;
	color: white;
	line-height: 1.8;
}
.bgwhite {background-color: white;}
.p-t-55 {padding-top: 55px;}
.p-b-65 {padding-bottom: 65px;}
.container {
	max-width: 1200px;
}
.p-b-50 {padding-bottom: 50px;}
.leftbar #filter-bar {
	margin-right: 6px;
	margin-left: 6px;
	height: 4px;
	border: none;
	background-color: #e1e1e1;
  }
  .leftbar #filter-bar .noUi-connect {
	background-color: #c5c5c5;
	border: none;
	box-shadow: none;
  }
  .leftbar #filter-bar .noUi-handle {
	width: 13px;
	height: 13px;
	left: -6px;
	top: -5px;
	border: none;
	border-radius: 50%;
	background: #999999;
	cursor: pointer;
	box-shadow: none;
	outline: none;
  }
  .leftbar #filter-bar .noUi-handle:before {
	display: none;
  }
  .leftbar #filter-bar .noUi-handle:after {
	display: none;
  }
  .p-r-20 {padding-right: 20px;}
  .p-r-0-sm {padding-right: 0;}
  .m-text14 {
	font-family: Montserrat-Black;
	font-size: 18px;
	color: #333333;
	line-height: 1.5;
}
.p-b-7 {padding-bottom: 7px;}
.p-b-54 {padding-bottom: 54px;}
.p-t-4 {padding-top: 4px;}
.s-text13 {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: #888888;
	line-height: 1.8;
}
.active1 {
	color: #333333;
}
.m-text14 {
	font-family: Montserrat-Black;
	font-size: 18px;
	color: #333333;
	line-height: 1.5;
}
.p-b-32 {padding-bottom: 32px;}
.p-t-22 {padding-top: 22px;}
.p-b-50 {padding-bottom: 50px;}
.bo3 {
	border-top: 1px solid #e1e1e1;
}
.m-text15 {
	font-family: Montserrat-Medium;
	font-size: 18px;
	color: #555555;
	line-height: 1.5;
}
.p-b-17 {padding-bottom: 17px;}
.flex-sb-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.flex-w {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.p-t-16 {padding-top: 16px;}
.w-size11 {
	width: 72px;
}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.size4 {
	width: 100%;
	height: 30px;
}
.bg7 {background-color: #333333;}
.bo-rad-15 {border-radius: 15px;}
.hov1:hover {
    background-color: #e65540;
  	color: white;
}
.s-text14 {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
}
.trans-0-4 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.s-text3 {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: #555555;
	line-height: 1.5;
}
.p-t-10 {padding-top: 10px;}
.p-b-10 {padding-bottom: 10px;}
.p-t-22 {padding-top: 22px;}
.p-b-50 {padding-bottom: 50px;}
.bo3 {
	border-top: 1px solid #e1e1e1;
}
.m-text15 {
	font-family: Montserrat-Medium;
	font-size: 18px;
	color: #555555;
	line-height: 1.5;
}
.p-b-12 {padding-bottom: 12px;}
.m-r-10 {margin-right: 10px;}
/*[ Filter Color ]
///////////////////////////////////////////////////////////
*/
.color-filter1 {background-color: #00bbec;}
.color-filter2 {background-color: #2c6ed5;}
.color-filter3 {background-color: #ffa037;}
.color-filter4 {background-color: #ff5337;}
.color-filter5 {background-color: #a88c77;}
.color-filter6 {background-color: #393939;}
.color-filter7 {background-color: #cccccc;}

.checkbox-color-filter {
  display: none;
}

.color-filter {
    display:block;
    width:25px;
    height:25px;
    cursor:pointer;
    border-radius: 50%;
}

.checkbox-color-filter:checked + .color-filter {
  box-shadow: 0 0 0px 2px black;
  -moz-box-shadow: 0 0 0px 2px black;
  -webkit-box-shadow: 0 0 0px 2px black;
  -o-box-shadow: 0 0 0px 2px black;
  -ms-box-shadow: 0 0 0px 2px black;
}
.pos-relative {position: relative;}
.bo4 {
	border: 1px solid #e6e6e6;
	border-radius: 2px;
}
.of-hidden {overflow: hidden;}
.s-text7 {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #555555;
	line-height: 1.8;
}
.size6 {
	width: 100%;
	height: 58px;
}
.p-l-23 {padding-left: 23px;}
.p-r-50 {padding-right: 50px;}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.size5 {
	width: 50px;
	height: 58px;
}
.ab-r-m {
	position: absolute;
	right: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.color2 {color: #333333;}
.color0-hov:hover {color: #e65540;}
.fs-12 {font-size: 12px;}
.p-b-50 {padding-bottom: 50px;}
.flex-sb-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.p-b-35 {padding-bottom: 35px;}
/*[ rs2-select2 ]
-----------------------------------------------------------
*/
.rs2-select2 {
	height: 50px;
    width: 100px;
}
.selection-2 {
	height: 50px;
    width: 200px;
}
.rs2-select2 .select2-container .select2-selection--single {
  background-color: white;
  height: 100px;
  width: 200px;
}

.rs2-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  color: #555555;
  padding-left: 22px ;
}

.rs2-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
}

#dropDownSelect2 .select2-results__options {
  color: #555555;
}

#dropDownSelect2 .select2-search--dropdown .select2-search__field {
  color: #555555;
}
.w-size12 {
	width: 200px;
}
.m-t-5 {margin-top: 5px;}
.m-b-5 {margin-bottom: 5px;}
.m-r-10 {margin-right: 10px;}
.s-text8, .s-text8 a {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #888888;
	line-height: 1.8;
}
.p-t-5 {padding-top: 5px;}
.p-b-5 {padding-bottom: 5px;}
.p-b-50 {padding-bottom: 50px;}

/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: #e65540;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #66a8a6;
  content: 'New';
}

/* ------------------------------------ */
.block2-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
}

/* ------------------------------------ */
.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

/* ------------------------------------ */
.block2-btn-towishlist,
.block2-btn-addwishlist {
  display: block;
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 20px;
  color: white;
  line-height: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.block2-btn-addwishlist:hover {
  color: white;
}

.block2-btn-addwishlist .icon-wishlist,
.block2-btn-towishlist .icon-wishlist {
  line-height: 0;
}

.block2-btn-addwishlist:hover .icon_heart_alt {
  display: none;
}

.block2-btn-addwishlist:hover .icon_heart {
  display: block;
}

/* ------------------------------------ */
.block2-btn-towishlist .icon_heart_alt {
  display: none;
}

.block2-btn-towishlist .icon_heart {
  display: block;
  color: #e65540;
}

/* ------------------------------------ */
.block2-overlay:hover {
  opacity: 1;
}

.block2-overlay:hover .block2-btn-addcart {
  bottom: 20px;
}

.block2-overlay:hover .block2-btn-addwishlist,
.block2-overlay:hover .block2-btn-towishlist{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.wrap-pic-w img {width: 100%;}
.hov-pointer:hover {cursor: pointer;}
.w-size1 {
	width: 161px;
}
.bg4 {background-color: #111111;}
.bo-rad-23 {border-radius: 23px;}
.hov1:hover {
    background-color: #e65540;
  	color: white;
}
.s-text1 {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: white;
	text-transform: uppercase;
}
.p-t-20 {padding-top: 20px;}
.dis-block {display: block;}

.s-text3 {
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: #555555;
	line-height: 1.5;
}
.p-b-5 {padding-bottom: 5px;}
.m-text6 {
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: #555555;
	text-transform: uppercase;
}
.p-r-5 {padding-right: 5px;}

/*[ Pagination ]
///////////////////////////////////////////////////////////
*/
.pagination {
	margin-right: -6px;
	margin-left: -6px;
  }
  
  .item-pagination {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #808080;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	margin: 6px;
  }
  
  .item-pagination:hover {
	background-color: #222222;
	color: white;
  }
  
  .active-pagination {
	background-color: #222222;
	color: white;
  }
  .size1 {
	width: 100%;
	height: 40px;
}



